*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    padding: 12px;
    background-color: rgb(22, 22, 54);
    color: aqua;
}
img{
    height: 10rem;
    width: 10rem;
}
.choise{
    height: 14.2rem;
    width: 14.2rem;
}
.choise:hover{
    cursor: pointer;
    background-color: rgb(22, 22, 54);
}
.choises{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreBoard{
    width: 50vw;
    margin-top: 3px;
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(22, 22, 54);
    background-color: rgb(22, 22, 54);
    border-radius: 11px;
}
.score{
    font-size: 2rem;
    margin: 1.5rem;
    color: wheat;
}
#user,#comp{
    font-size: 4rem;
}
.result{
    margin: 2.5rem;
    font-size: 2.7rem;
    font-weight: bold;
    background-color: aqua ;
    color: rgb(22, 22, 54);
    border-radius: 10px;
}